<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-TFTTNSM\SQLEXPRESS2014;User ID=sa; Password=Qwer1234; Initial Catalog=JMDCCare" providerName="System.Data.OleDb" />
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=148.72.232.167;User ID=perl; Password=pass@123; Initial Catalog=PerlOfIndia" providerName="System.Data.OleDb" />-->

  </connectionStrings>
  <appSettings>
    <!--<add key="ServerName" value="148.72.232.167" />
    <add key="DatabaseName" value="PerlOfIndia" />
    <add key="UID" value="perl" />
    <add key="PWD" value="pass@123" />
    <add key="ConnectionString" value="Server=148.72.232.167;Database=PerlOfIndia;UID=sa;PWD=Qwer1234;Max Pool Size=500;Pooling=True;Connect Timeout=0;" />-->
    <add key="ServerName" value="DESKTOP-TFTTNSM\SQLEXPRESS2014" />
    <add key="DatabaseName" value="JMDCCare" />
    <add key="UID" value="sa" />
    <add key="PWD" value="Qwer1234" />
    <add key="ConnectionString" value="Server=DESKTOP-TFTTNSM\SQLEXPRESS2014;Database=JMDCCare;UID=sa;PWD=Qwer1234;Max Pool Size=500;Pooling=True;Connect Timeout=0;" />

    <add key="ServerName" value="DESKTOP-TFTTNSM\SQLEXPRESS2014" />
    <add key="WebRoot" value="" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <trace enabled="false" localOnly="true"></trace>
      <httpCookies httpOnlyCookies="true"></httpCookies>
      <sessionState cookieless="UseCookies"></sessionState>
<pages validateRequest="false"></pages>
	  <customErrors mode="Off"></customErrors>
   <authorization>
      <allow users="*"/>
    </authorization>
    </system.web>
</configuration>
