<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-TFTTNSM\SQLEXPRESS2014;User ID=sa; Password=Qwer1234; Initial Catalog=JMDCCare" providerName="System.Data.OleDb" />
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=148.72.232.167;User ID=perl; Password=pass@varRedirect; Initial Catalog=PerlOfIndia" providerName="System.Data.OleDb" />-->

  </connectionStrings>
  <appSettings>
    <!--<add key="ServerName" value="148.72.232.167" />
    <add key="DatabaseName" value="PerlOfIndia" />
    <add key="UID" value="perl" />
    <add key="PWD" value="pass@varRedirect" />
    <add key="ConnectionString" value="Server=148.72.232.167;Database=PerlOfIndia;UID=sa;PWD=Qwer1234;Max Pool Size=500;Pooling=True;Connect Timeout=0;" />-->
    <add key="ServerName" value="DESKTOP-TFTTNSM\SQLEXPRESS2014" />
    <add key="DatabaseName" value="JMDCCare" />
    <add key="UID" value="sa" />
    <add key="PWD" value="Qwer1234" />
    <add key="ConnectionString" value="Server=DESKTOP-TFTTNSM\SQLEXPRESS2014;Database=JMDCCare;UID=sa;PWD=Qwer1234;Max Pool Size=500;Pooling=True;Connect Timeout=0;" />

    <add key="ServerName" value="DESKTOP-TFTTNSM\SQLEXPRESS2014" />
    <add key="WebRoot" value="" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings> 
  <system.web>
    <customErrors mode="Off" defaultRedirect="errorPage.htm"></customErrors>
    <compilation targetFramework="4.5.2" debug="true">
      <assemblies>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <trace enabled="false" localOnly="true"></trace>
    <httpCookies httpOnlyCookies="true"></httpCookies>
    <sessionState cookieless="UseCookies"></sessionState>
    <httpRuntime targetFramework="4.5.2" executionTimeout="5000" maxRequestLength="2000000"></httpRuntime>
   <!-- <authentication mode="Forms">
      <forms name=".AUTHx" loginUrl="Logon.aspx" protection="All" cookieless="UseCookies" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization> -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Logon.aspx" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="Videos">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CrystalImageHandler.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StudentPhoto">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadImage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SRStudentonlineRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SRStudentEnquiryDetail.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NewGuideLine.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SRStudentonlineform.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PrivacyPolicy.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AnimateHead2.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MTOnlineUploadPhoto.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SchoolOnline">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
